html{
    color:blueviolet;
    background-color: purple;
    height: 100%
}
body{
    color: red;
    margin: 10%;
    background-color: beige;
    height: 90%;
}
p{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
    font-size: 10em;
}